body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#game {
  display: none;
}

.game-container {
  display: inline-block;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(15, 32px);
  grid-template-rows: repeat(15, 32px);
  gap: 2px;
}

.cell {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-image: url('/img/tileset.png');
  background-position-x: 96px;
  background-position-y: 96px;
}

.cell.player {
  /* background-color: blue; */
  background-image: url('/img/tileset.png');
  background-position-x: 96px;
  background-position-y: 32px;
}
.cell.player2 {
  /* background-color: blue; */
  background-image: url('/img/tileset.png');
  background-position-x: 32px;
  background-position-y: 32px;
}

.wall {
  /* background-color: gray; */
  background-image: url('/img/tileset.png');
  background-position-x: -32px;
  background-position-y: 96px;
}

.cell.bomb {
  background-image: url('/img/tileset.png');
  background-position-x: 96px;
  background-position-y: 64px;
  background-color: rgba(91, 137, 91, 0.669);
}

.explosion {
  background-image: url('/img/tileset.png');
  background-position-x: 32px;
  background-position-y: 64px;
  background-color: rgba(91, 137, 91, 0.669);
}
.breakable-wall {
  background-image: url('/img/tileset.png');
  background-position-x: 32px;
  background-position-y: 96px;
}
.power-up-bomb-count {
  background-image: url('/img/tileset.png');
  background-position-x: -32px;
  background-position-y: 64px;
}
.power-up-speed-count {
  background-image: url('/img/tileset.png');
  background-position-x: -32px;
  background-position-y: 32px;
}
.power-up-flame-count {
  background-image: url('/img/tileset.png');
  background-position-x: 32px;
  background-position-y: 64px;
}
